body {
    background-color: beige;
    margin-left: 20px;
    font-size: larger;
}

header {
    text-align: center;
    background-color: violet;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
}

header h1 {
    color: white;
    margin-bottom: -20px;
    margin-top: 30px;
}

header h4 {
    color: whitesmoke;
}

header div.links {
    background-color: black;
    color: white;
    padding: 15px;

}

header div.links a {
    color: whitesmoke;
    padding: 10px;
}

div h2 {
    text-align: center;
}